###
### This is an example .env file. 
### You can copy this to .env and fill in the values to configure the backend.
###

# --- Environment ---

DEVELOPMENT=false

# --- Server ---

PORT=3000
BASE_URL=http://localhost:3000

# --- Database ---

DATABASE_URI=mongodb://mongodb:27017/?replicaSet=rs0
DATABASE_NAME=simply-plural

# --- Auth ---

JWT_KEY=...
# JWT_ISSUER=Apparyllis
PASSWORD_KEY=...
PASSWORD_SEPARATOR=...
MESSAGES_KEY=...

# --- Branding ---

# BRANDING_NAME=Simply Plural
BRANDING_LEGAL_ENTITY=Apparyllis U.G.
BRANDING_URL=https://apparyllis.com
BRANDING_LOGO_URL=https://dist.apparyllis.com/resources/Logo_Apparyllis_Square_1024.png

# --- Subscription (Simply Plus) ---

# SUBSCRIPTION_NAME=Simply Plus
# STRIPE_KEY=
# STRIPE_PRICES=
# STRIPE_PLUS_PRODUCT=
# STRIPE_WEBHOOK_SECRET=
# STRIPE_MAX_SUBS=
# PLUS_ROOT_URL=

# --- Mailing ---

# MAIL_HOST=
# MAIL_PORT=
# MAIL_USER=
# MAIL_PASSWORD=
# MAIL_SENDER=

# --- Sentry ---

# SENTRY_DSN=
# SENTRY_SAMPLE_RATE=

# --- Firebase ---

# FIREBASE_SERVICE_ACCOUNT=
# GOOGLE_CLIENT_JWT_AUD=

# --- Google OAuth ---

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_AUD=
# GOOGLE_CLIENT_IOS_ID=
# GOOGLE_CLIENT_SECRET=

# --- Apple OAuth ---

# APPLE_BUNDLE_IDS=

# --- Storage ---
# If you enable S3, you need to configure the primary S3 settings below.

WITH_STORAGE=false
# STORAGE_BASE_URL=
# LEGACY_REPORT_BASE_URL=

## --- Storage - S3 ---

# PRIMARY_S3_BUCKET=
# PRIMARY_S3_ENDPOINT=
# PRIMARY_S3_REGION=
# PRIMARY_S3_ACCESS_KEY=
# PRIMARY_S3_ACCESS_SECRET=

## -- Storage - Legacy S3 ---
## This is specific to the official instance. You probably won't need this.

WITH_LEGACY_S3=false
# LEGACY_S3_BUCKET=
# LEGACY_S3_ENDPOINT=
# LEGACY_S3_REGION=
# LEGACY_S3_ACCESS_KEY=
# LEGACY_S3_ACCESS_SECRET=

## -- Storage - Legacy MinIO ---
## This is specific to the official instance. You should not use this and writes through MinIO will fail.

WITH_LEGACY_MINIO=false
# LEGACY_MINIO_BUCKET=
# LEGACY_MINIO_ENDPOINT=
# LEGACY_MINIO_PORT=
# LEGACY_MINIO_ACCESS_KEY=
# LEGACY_MINIO_ACCESS_SECRET=

# --- Logging ---

NO_LOGS=false
# LOG_DIR=/var/log/simply-plural
# LOG_PREFIX=

# --- Events ---

ENABLE_LOCAL_EVENTS=true
ENABLE_SOCKET_EMIT=true

# --- Integrations ---

PLURALKIT_APP=

# --- Pages ---

# PASSWORD_RESET_PAGE_URL=