<tr>
	<td class="px-6 py-4 whitespace-nowrap">
		<div class="flex items-center">
			<div class="flex-shrink-0 h-10 w-10">
				<img class="h-10 w-10 rounded-full" src="{{avatar}}" alt="" onerror="if (this.src != 'https://sfo3.digitaloceanspaces.com/simply-plural/content/resources/Logo_Apparyllis_Square_1024.png') this.src = 'https://sfo3.digitaloceanspaces.com/simply-plural/content/resources/Logo_Apparyllis_Square_1024.png';"/>
			</div>
			<div class="ml-4">
				<div class="text-sm font-medium text-gray-900">{{name}}</div>
				<div class="text-sm font-normal text-gray-900">{{customStatus}}</div>
			</div>
		</div>
	</td>
	<td class="px-6 py-4 whitespace-nowrap">
		<div class="text-sm text-gray-900 h-5 rounded">{{start}}</div>
	</td>
	<td class="px-6 py-4 whitespace-nowrap">
		<div class="text-sm text-gray-900 h-5 rounded">{{end}}</div>
	</td>
	<td class="px-6 py-4 whitespace-nowrap">
		<div class="text-sm text-gray-900 h-5 rounded">{{duration}}</div>
	</td>
</tr>
